.hero-content {
  position: absolute;
  left: 50%;
  top: 40%;
  margin: auto;
  transform: translate(-50%, -50%);

  @media(min-width: 1024px) {
    left: 106px;
    bottom: 270px;
    top: auto;
    transform: translate(0, 0);
  }

  h1 {
    line-height: 188.74px;
    @media(min-width: 640px) {
      line-height: 288.74px;
    }
  }

  p {
    letter-spacing: 0.63px;
  }
}

.fade-out {
  width: 100%;
  opacity: 1;
  animation: fadeOut 2s forwards;
  transition: all 2s;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  to {
    opacity: 0;
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  }
}

.fade-in {
  width: 100%;
  opacity: 0;
  animation: fadeIn 1.5s forwards;
  transition: all 1.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    clip-path: polygon(0 0, 0 100%, 0 100%, 0 0);
  }

  to {
    opacity: 1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}