.modalOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.modal {
  z-index: 2;
  width: 43px;
  height: 43px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 0);
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
  animation-direction: alternate;

  &.active .modal-trigger {
    display: none;
  }

  .modal-content {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-20px) scale(0);
    transition: opacity 0s ease-out;
    transition-delay: 0s;

    h1,
    p,
    button {
      transform: translateX(-20px);
      transition: all 0s ease-out;
      transition-delay: 1s;
    }

    h1 {
      line-height: 85px;
    }

    p {
      line-height: 22px;
    }
  }
}

.active {
  box-shadow: 0px 0px 10px 7px rgba(0, 0, 0, 0.29);
}

.active .modal-content {
  opacity: 1;
  visibility: visible;
  transform: translateX(0) scale(1);
  transition: opacity 0.5s ease-out;
  transition-delay: 0.6s;

  h1,
  p,
  button {
    transform: translateX(0);
    transition: all 0.5s ease-out;
    transition-delay: 0.6s;
  }
}

.animate {
  animation-name: go;
}

// Mobile Animation
@keyframes go {
  from {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  to {
    width: 96vw;
    height: 500px;
    overflow-y: scroll;
    border-radius: 0;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -70%);
    background-color: white;
  }
}

.animate-back {
  animation-name: goback;
}

@keyframes goback {
  from {
    width: 580px;
    height: 500px;
    border-radius: 0;
    top: 70%;
    left: 0;
    transform: translate(0, -70%);
  }

  to {
    width: 43px;
    height: 43px;
    border-radius: 50%;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

// Desktop animation
@media(min-width: 768px) {
  @keyframes go {
    to {
      width: 550px;
      height: 650px;
      border-radius: 0;
      top: 50%;
      left: 0;
      transform: translate(0, -60vh);
      background-color: white;
    }
  }

  @keyframes goback {
    from {
      width: 550px;
      height: 650px;
      border-radius: 0;
      top: 50%;
      left: 0;
      transform: translate(0, -60vh);
    }
  }
}